.Signin-button {
    background-color: rgb(76, 173, 149);
    color: black;
    border: none;
    height: 36px;
    width: 105px;
    border-radius: 2px;
    cursor: pointer;
}

.Signup-button{
    background-color: rgb(218, 238, 243);
    
}